body {
    background: aqua;
}

h1 {
    color:blue;
    text-align: center;
}

section {
    background-color: white;
    width: 240px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    text-align: center;;
}

footer {
    margin-top: 100px;
    font: normal 10pt Arial;
    text-align: center;
}

div {
    padding-top: 10px;
}

#photo {
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}